body{
    font-family:"Yu Gothic","Meiryo",sans-serif;
    text-align:center;
    background:#f2f7fb;
    color:#333;
    margin:0;
    padding:80px 0;
}

button{
    background:#ccc;
    color:#fff;
    border:none;
    padding:12px24px;
    border: radius 8px;
    cursor:pointer;
}

button:hover{
    background:#05a;
}

.message{
    margin-top: 24px;
    font-size: 18px;
    font-weight:bold;
}